.header__wrap {
  min-height: 100%;
  z-index: 90;
}

.header__top-wrap {
  background-color: rgba(86, 84, 78, 0.529);
  min-height: 70px;
  width: 100%;
  display: inline-block;
  z-index: 100;
  position: fixed;
  margin: 0 auto;
  top: 0;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  min-height: 70px;
  max-width: 1260px;
  margin: 0 auto;

  &__logo {
    a {
      @include logostyle;
      color: $menucolor;
    }
  }

  &__menu {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        position: relative;
        list-style: none;
        padding-right: 85px;
        text-align: center;
        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          &::after {
            @include afternavstyle;
            color: $menucolor;
          }
        }
        a {
          @include navstyle;
          color: $menucolor;
          &:hover {
            border-bottom: solid 4px $accentcolor;
            transition: 0.5s;
          }
        }
      }
    }
  }
  &__items {
    .icon-twitter {
      position: relative;

      &::before {
        @include socialstyle;
        content: "\e902";
        right: 78px;
      }
      &:hover:before {
        @include socailstylehovbef;
      }
    }
    .icon-facebook {
      position: relative;

      &::before {
        @include socialstyle;
        content: "\e901";
        right: 42px;
      }
      &:hover:before {
        @include socailstylehovbef;
      }
    }

    .icon-instagram {
      position: relative;

      &::before {
        @include socialstyle;
        content: "\e900";
        right: 0px;
      }
      &:hover:before {
        @include socailstylehovbef;
      }
    }
  }
}
