<div class="header__bottom-wrap">
    <div class="header__bottom">
        <div class="header__bottom__name">
            <h1 class="heading">@@pasteheading</h1>
        </div>
        <div class="header__bottom__line">
            <img class="line" src="@@pastimgline" alt="line">
        </div>
        <div class="header__bottom__text">
            <p class="text">@@pastbottomtext</p>
        </div>
        <div class="header__bottom__btn">
            <button>@@pastetextbutton</button>
        </div>
    </div>
</div>