//Fonts//
$fontheadings: "AlegriaRegular"; // font of the most headings
$fontheadinsbold: "AlegriaBold"; // font of the most headings bold
$fontmainname: "PlayFairDisplayBold"; // font of the main name
$fontaccenttext:"ProximaNovaRegular"; // font of the most using text
$fontlogo: "ScriptinaRegular"; // font of the logo;

//Colors//
$accentcolor: #9e9c93; // accent color;
$menucolor: #ffffff; // menu color;
$btncolorgradone:#666666; // button the first color;
$btncolorgradtwo:#999966; // button the second color;
$textcolor: #333333; // text color;
$backcolbutton: #56544e87;// background color button;
$menuitemscolor:#ffffff; // menu items color;
$bckcolsecond: #f3f1e9; // color footer and section sandwich;
$headingcakescolor:#56534c; // color heading cakes;
$subheadingcakescolor:#aa8568; // color subheading cakes;
$quotecolor:#b6b5b2; // color qoute;
$bordercolor: #d7d5ca; // border color cakes;
$labeltextcolor:#cc9966; //label text color;
$subtittlecolorslider: #c2a894; // color slider subtittle;
$colornextprew: #d8bba3; // color btn next prew;
$colorsliderattach: #dfc691; // color attach;
$colorslideratactheading: #a47d5e; //color heading slider attach;
$colorrecipe: #ead9b6; // color recipe;

